body {
  font-family: "Roboto", sans-serif;
  background-color: #fffff0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: rgb(247, 204, 85);
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  background-color: rgb(236, 137, 113);
}

input {
  display: block;
  margin-bottom: 10px;
}

#controls {
  margin-bottom: 15px;
}

#gallery {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.gallery-item {
  flex-basis: calc(100% / 3 - 10px);
  margin-left: 10px;
  margin-top: 10px;
  list-style: none;
}

#name-input {
  margin-top: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  margin-top: 30px;
  display: block;
}

#controls {
  margin-top: 30px;
}
